body {
    font-family: 'brauerneue', Times;
}

h1, h2 {
    font-weight: normal;
}

p {
    font-size: 15px;
    line-height: 22px;
    color: #444;
}

/* page header */
body > header h1 {
    height: 90px;
    width: 1000px;
    line-height: 90px;
    vertical-align: middle;
    margin: 0px auto;
}

    body > header h1 img {
        vertical-align: middle;
    }

    body > header h1 #stuff {
        float: right;
        height: 50%;
        position: relative;
        top: 22px;
    }

body > header nav {
    background-image: url(../images/header-bg.png);
}

    body > header nav div {
        width: 1000px;
        height: 70px;
        margin: 0px auto;
        line-height: 70px;
    }

    body > header nav img {
        height: 47%;
        vertical-align: middle;
    }


/* main content header */
main {
    width: 1000px;
    margin: 0px auto;
    padding-top: 50px;
}

    main > header {
        display: table;
        width: 100%;
        margin-bottom: 70px;
    }

    main > header div {
        display: table-cell;
    }

        main > header div h1 {
            font-size: 37px;
            margin-bottom: 15px;
        }

        main > header div h2 {
            font-size: 18px;
            color: #888;
        }

    main > header aside {
        display: table-cell;
        width: 105px;
        border-left: 1px solid #e5e5e5;
        padding-left: 30px;
        vertical-align: middle;
    }

        main > header aside h1 {
            font-size: 18px;
            color: #888;
        }

        main > header aside hr {
            margin-top: 10px;
            margin-bottom: 20px;
            height: 0px;
            width: 40px;
            border-top: 1px solid #e5e5e5;
        }

        main > header aside p {
            font-size: 37px;
            color: #f60000;
        }


/* main content */
#timeline {
    border-left: 1px dashed black;
}

section {
    padding-left: 193px;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 35px;
    position: relative;
}

section.day {
    border-top: 3px double black;
    margin-bottom: 50px;
}
    
    /* section heading ("SYD Airport", "Bangkok" etc) */
    section > h1 {
        position: absolute;
        left: -9px;
        height: 25px;
        line-height: 25px;
        vertical-align: middle;
        top: -13px;
        font-size: 17px;
        display: inline-block;
        padding-right: 12px;
        background-color: white;
    }

        section > h1 img {
            vertical-align: middle;
            position: relative;
            top: -1px;
            margin-right: 5px;
            height: 23px;
        }

    section > h1#prepare {
        color: #f60000;
    }

    section.day > h1 {
        left: -12px;
    }

        section.day > h1 > span {
            box-sizing: border-box;
            display: inline-block;
            border-radius: 23px;
            width: 23px;
            height: 23px;
            line-height: 21px;
            padding-top: 0px;
            font-size: 14px;
            text-align: center;
            border: 2px solid black;
            margin-right: 5px;
            position: relative;
            top: -1px;
        }

    section > aside {
        font-size: 13px;
        color: #bbb;
        letter-spacing: 0.5px;
        position: absolute;
        left: 22px;
        top: 16px;
        width: 120px;
        line-height: 18px;
    }

    /* content in right column */
    section > div {
        width: 806px;
        margin-top: 30px;
    }

        /* row */
        section article {
            border-radius: 3px;
            background-color: #f7f7f7;
            background-image: url(../images/chevron-up.png);
            background-repeat: no-repeat;
            background-size: 13px 7px;
            background-position: right 15px top 18px;
            margin-bottom: 10px;
            border: 1px solid #ebebeb;
        }

        section article.closed {
            background-image: url(../images/chevron-down.png);
        }

        section article > div {
            box-sizing: border-box;
            overflow: hidden;
            -webkit-transition: height 0.6s;
            background-color: white;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        section article.closed > div {
            height: 0px !important;
        }

            section article > div > div {
                border-top: 1px solid #ebebeb;
                padding: 15px;
            }

            /* grey heading */
            section article > h1 {
                font-size: 17px;
                height: 43px;
                line-height: 43px;
                padding-left: 20px;
                vertical-align: middle;
                cursor: pointer;
            }

            section.tasks article > h1 {
                color: black;
                padding-left: 0px;
            }

                section.tasks article > h1 div {
                    display: inline-block;
                    width: 43px;
                    height: 43px;
                    background-color: white;
                    border-right: 1px solid #ebebeb;
                    margin-right: 20px;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    vertical-align: middle;
                    position: relative;
                    top: -1px;
                    cursor: pointer;
                }

                section.tasks article > h1 div.complete {
                    background-image: url(../images/tick.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 19px 18px;
                }

        img.hero {
            width: 806px;
        }
